body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
}

/* Container central */
.container {
    width: 90%;
    max-width: 900px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* Título */
h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 26px;
}

/* Grupo de input */
.form-group {
    margin-bottom: 18px;
}

/* Labels */
label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 14px;
}

/* Inputs */
input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: 0.3s;
}

/* Focus bonito */
input:focus {
    border-color: #3498db;
    outline: none;
    box-shadow: 0 0 6px rgba(52,152,219,0.4);
}

/* Remove setas do input number */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance: textfield;
}

/* Botões */
input[type="submit"] {
    width: 100%;
    margin-top: 10px;
    background-color: #2ecc71;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

/* Cancelar */
form#cadastroForm input[type="submit"] {
    background-color: #e74c3c;
    margin-top: 10px;
}

/* Hover */
input[type="submit"]:hover {
    opacity: 0.9;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
    font-size: 14px;
}

th {
    background-color: #2c3e50;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Hover linha */
tr:hover {
    background-color: #f1f1f1;
}

/* Botões da tabela */
button {
    padding: 6px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    background-color: #3498db;
    color: white;
}

td:last-child button {
    background-color: #e74c3c;
}


.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

table {
    min-width: 700px; /* força largura mínima */
    width: 100%;
}